.padding10 {
    -fx-padding: 10;
}

.orangeBackground {
    -fx-background-color: orange;
    -fx-border-color: grey;
    -fx-border-radius: 3;
}

.palegreenBackground {
    -fx-background-color: palegreen;
    -fx-border-color: grey;
    -fx-border-radius: 3;
}

TableView .table-cell {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

GridPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

HBox {
    -fx-spacing: 10;
}

VBox {
    -fx-spacing: 10;
}