.bigLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.detailsGrid {
    -fx-background-radius: 5.0;
    -fx-padding: 10;
    -fx-hgap: 30;
    -fx-vgap: 10;
}

.rootGrid {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.masterWindow {
    -fx-alignment: center;
    -fx-font-size: 14;
}

.buttonBar {
    -fx-font-size: 20;
    -fx-spacing: 10;
}