#organizationLogo {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#organizationLogoPane {
    -fx-border-width: 1;
    -fx-border-color: lightgray;
    -fx-border-style: dotted
}