<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender" />
    <appender name="smtpAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender" />
    <appender name="rollingFileAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender" />

    <root>
        <level value="ERROR"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="rollingFileAppender"/>
        <appender-ref ref="smtpAppender"/>
    </root>

</configuration>